/*=== spinner（微调器） 装饰器样式定义 ===*/

.jside-spinner td{
    vertical-align:middle;
}
.jside-spinner div div{
    background-image : url(spinner.gif);
    cursor : pointer;
    height : 8px;
    width : 12px;
    line-height:0px;
    font-size:0;
    position: relative;
    left : -14px;
    margin : 1px;
}


/*=== slider(滑块) 装饰器样式定义 ===*/
.jside-slider {
}

.jside-slider .horizontal- ,.jside-slider .vertical-{
    width: 100px;
    height: 10px;
    background: #B9CFD8;
    border-bottom:1px solid #003767;
    position:relative;
    top:0px;
    left:0px;
}
.jside-slider .vertical-{
    width: 10px;
    height: 100px;
    border:0;
    border-left:1px solid #003767;
}
.jside-slider .slider-handle- {
    position:absolute;
    background-image: url(slider.gif);
}
.jside-slider .horizontal- .slider-handle- {
    top:-6px;
    width:9px;
    height:13px;
}
.jside-slider .vertical- .slider-handle- {
    left:-6px;
    width:13px;
    height:9px;
}