/*
 * 表格控制
 * table{border:0;margin:0;border-collapse:collapse;}
 * table td{padding:0;}
 * 第一行控制cellspacing，关键是“border-collapse:collapse;”这一句；第二行控制cellpadding，很少人知道控制td吧？：）
 */

table.jside-layout-{
    display:inline;
	border:0!important;
    margin:0px!important;
	border-spacing:0!important;
    border-collapse:collapse!important;
    padding:0px!important;
}
table.jside-layout- td{
    border:0;
	padding:0px!important;
	margin:0px;
}
img.jside-layout-{
    width:0px!important;
    height:0px!important;
    padding:8px;
    line-height:0px;
    font-size:0px;
    border:0px;
}