/*=== spinner（微调器） 装饰器样式定义 ===*/

.jside-spinner td{
    vertical-align:middle;
}
.jside-spinner div div{
    background-image : url(spinner.gif);
    cursor : pointer;
    height : 8px;
    width : 12px;
    line-height:0px;
    font-size:0;
    position: relative;
    left : -14px;
    margin : 1px;
}


/*=== slider(滑块) 装饰器样式定义 ===*/
/*
#B9CFD8
#003767
*/
.jside-slider {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.jside-slider-horizontal {
    width: 150px;
    height: 11px;
    background-image: url(slider-horizontal-background.gif);
    background-repeat: repeat-x;
}
.jside-slider-vertical img{
    background-image: url(slider-horizontal-grippy.gif);
}
.jside-slider-vertical {
    width: 11px;
    height: 150px;
    background-image: url(slider-vertical-background.gif);
    background-repeat: repeat-y;
}
.jside-slider-vertical img{
    background-image: url(slider-vertical-grippy.gif);
}
.jside-slider-disabled {
    background-color: #ECE9D8;
}
.jside-slider-disabled img {
    cursor: default !important;
}