<?xml version="1.0" encoding="utf-8"?>
<ul>

    <li>
        <a href="spinner.html">Spinner</a>
        <p>Spinner控件（window时间日期管理中，年份调节的控件），参照backbase 的 Spinner标签</p>
    </li>
    <li>
        <a href="slider.html">Slider</a>
        <p>Slider控件（常见于音量调节按钮），参照backbase 的 Slider标签</p>
    </li>
    <li>
        <a href="include.html">Include</a>
        <p>片断包含标签，支持xpath选取文档片断，支持xslt转换</p>
    </li>
	<li>
		<a href="date-picker.html">DatePicker</a>
		<p>
			日期选择控件，参照xul datepicker标签，支持弹出方式(默认值
			type='pop')，和内嵌式(type='grid')
		</p>
	</li>
    <li>
        <a href="drag-drop.html">DragDrop</a>
        <p>拖放支持示例</p>
    </li>
    <!-- 
	<li>
		<a href="editor.html">Editor</a>
		<p>编辑器控件，参照xul editor标签</p>
	</li>
	<li>
		<a href="tabbox.html">TabBox</a>
		<p>TabBox(标签页)控件，参照xul tabbox标签</p>
	</li>
	<li>
		<a href="code.html">Code</a>
		<p>代码语法高亮显示控件，参照SyntaxHighlighter的显示风格</p>
	</li>
	<li>
		<a href="tooltip.html">Tooltip</a>
		<p>鼠标提示控件，类似于title，alt的效果</p>
	</li>
    -->
</ul>

